

@import "tailwindcss";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
    --color-background: #f3f4f6;
    --color-foreground: #171717;
    --color-darkbackground: #121212;
    --color-darkforeground: #ededed;
    
    --animate-slide-in: slide-in 0.5s ease-in-out;
    
    @keyframes slide-in {
        0% { transform: translate(100%, 100%); }
        100% { transform: translate(0, 0); }
    }
    }

